

@use 'base/variables';
@use 'base/mixins';

@use 'blocks/promo';
@use 'blocks/title';
@use 'blocks/button';
@use 'blocks/sidepanel';
@use 'blocks/menu';
@use 'blocks/about';
@use 'blocks/development';

@use 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}